/* Minha paleta de cores : https://prnt.sc/12wbj1k */

@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap");

/*
// ====================================================== 
// CONTEÚDO GERAL
// ======================================================
*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #505050;
  border-radius: 50px;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  /* color: #242424; */
  /* background: #d0c1ff; */
  background: linear-gradient(to left, #a58eeb -40%, #333333 100%);
  color: #eaeaea;
  transition: background 0.5s ease-in-out;
}

.container {
  min-height: 100vh;
  padding: 50px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.block {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.block div {
  flex: 1 1 370px;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  display: inline !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

p {
  font-weight: 300;
  font-size: 1.2em;
  text-align: justify;
  text-indent: 2em;
  margin-bottom: 10px;
}

a {
  border: none;
  text-decoration: none;
  transition: 0.3s;
}

.hr {
  border-bottom: 1px solid #333;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
// ====================================================== 
// HEADER → LOGO / MENU
// ======================================================
*/

header {
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(90deg, rgb(51, 51, 51) 0%, rgb(36, 36, 36) 100%);
  width: 100%;
  padding: 15px;
  height: 70px;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Bebas Neue", "Poppins", Arial;
  font-size: 2em;
  text-shadow: 3px 3px 10px black;
  color: #fff;
  letter-spacing: 0.05em;
}

.hamburguer {
  z-index: 9999;
  display: none;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.hamburguer i {
  font-size: 1.5em;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li {
  margin: 0 10px;
}

.menu li a {
  display: block;
  color: #eaeaea;
  padding: 5px 15px;
  border-radius: 70px 30px;
}

.menu li a:hover {
  transition: 0.1s ease;
  scale: 1.25;
  background: #eaeaea;
  color: #242424;
  box-shadow: 0 0 5px 3px #aaaaaa66;
}

.menu li a:active {
  transform: scale(0.9);
}

/*
// ====================================================== 
// LAYOUT : RESPONSIVO
// ======================================================
*/

@media screen and (max-width: 756px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .menu {
    display: none;
    align-items: flex-end;
    flex-direction: column;
  }

  .menu.ativo {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60%;
    background: rgb(40, 40, 40, 97%);
    box-shadow: 15px 0 50px 15px #111;
    z-index: 999;
  }

  .menu li {
    margin: 0;
    width: 100%;
    text-align: center;
  }

  .menu li a {
    color: #eaeaea;
    padding: 25px;
    border: none;
    border-radius: 50px 0 0 50px;
  }

  .menu li a:hover {
    transition: none;
    box-shadow: none;
  }

  .menu li a:active {
    transform: none;
  }

  .hamburguer {
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center !important;
  }

  .titulo-home {
    font-size: 3.7em !important;
  }

  .light {
    font-size: 1.2em !important;
  }

  .links-container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  .titulo-home {
    font-size: 2.5em !important;
  }
}

/*
// ====================================================== 
// SECTION → HOME
// ======================================================
*/

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.col {
  flex-direction: column;
}

.titulo-home {
  width: 100%;
  border-bottom: 1px solid grey;
  font-size: 4em;
  text-align: center;
}

.light {
  font-size: 1.4em;
  font-weight: 200;
  text-indent: 0;
}

.flecha {
  font-size: 3.5em !important;
  color: #242424;
}

/*
// ====================================================== 
// SECTION → SOBRE MIM
// ======================================================
*/

.foto-sobre {
  margin: 50px;
  border-radius: 0 50px 0 50px;
  overflow: hidden;
}

.programmer {
  scale: 1.1;
}

.internal-link {
  color: #eaeaea;
  text-decoration: underline;
  font-weight: 500;
}

/*
// ====================================================== 
// SECTION → LINKS & CONTATO
// ======================================================
*/

.links-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 435px;
}

.links-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  font-size: 2em;
  background-color: #242424;
  color: #eaeaea;
  border-radius: 50%;
  padding: 8px 20px;
  margin: 4px;
}

.links-contato:hover {
  box-shadow: 0 0 5px 3px rgb(0 0 0 / 50%);
  scale: 1.5;
  transition: 0.1s ease;
  background: #eaeaea;
  color: #242424;
  font-size: 3.5rem;
  margin: 0 20px;
}

.links-contato:last-child {
  margin-right: 0;
}

/*
// ====================================================== 
// SECTION → FOOTER
// ======================================================
*/

footer {
  height: 70px;
}

.bg-footer {
  background: #111111;
}

.rodape {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
}

/*
// ====================================================== 
// PÁGINA → PROJETOS
// ======================================================
*/

.projetos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul-projetos {
  list-style: none;
  width: 100%;
  display: block;
  margin-bottom: 20px;
  max-height: 240px;
  padding: 0 20px;
  overflow-y: auto;
}

.ul-projetos li {
  margin: 0;
}

.ul-projetos li a {
  display: block;
  border-bottom: 1px solid black;
  border-radius: 70px 30px;
  background-color: #242424;
  color: #fff;
  margin-bottom: 8px;
  font-size: 0.8rem;
  padding: 10px 15px;
}

.ul-projetos li a:hover {
  box-shadow: none;
  background-color: #dbdbdb;
  color: #242424;
  scale: 1.05;
}

.link {
  color: #92c4e7;
  text-decoration: underline;
  font-weight: 500;
}

.error {
  color: #ffa700;
}
