/* Minha paleta de cores : https://prnt.sc/12wbj1k */

@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap");

/*
// ====================================================== 
// CONTEÚDO GERAL
// ======================================================
*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #111;
}

::-webkit-scrollbar-track {
  background: #505050;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  /* color: #242424; */
  /* background: #d0c1ff; */
  background: linear-gradient(to left, #a58eeb -40%, #333333 100%);
  color: #eaeaea;
}

.container {
  min-height: 100vh;
  padding: 50px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.block {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.block div {
  flex: 1 1 370px;
}

picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  display: inline !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 20px;
  font-size: 2.5em;
}

p {
  font-weight: 300;
  font-size: 1.2em;
  text-align: justify;
  text-indent: 2em;
  margin-bottom: 10px;
}

a {
  border: none;
  text-decoration: none;
  transition: 0.3s;
}

.hr {
  border-bottom: 1px solid #333;
}

/*
// ====================================================== 
// HEADER → LOGO / MENU
// ======================================================
*/

header {
  position: fixed;
  top: 0;
  z-index: 999;
  background: linear-gradient(90deg, rgb(51, 51, 51) 0%, rgb(36, 36, 36) 100%);
  width: 100%;
  padding: 15px;
  height: 70px;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Bebas Neue", "Poppins", Arial;
  font-size: 2em;
  text-shadow: 3px 3px 10px black;
  color: #fff;
  letter-spacing: 0.05em;
}

.hamburguer {
  z-index: 9999;
  display: none;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
}

.hamburguer i {
  font-size: 1.5em;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li {
  margin-left: 10px;
}

ul li a {
  display: block;
  color: #f8eadc;
  padding: 10px 15px;
  border-radius: 7px 0 7px 0;
}

ul li a:hover {
  transition: 0.6s ease;
  color: #242424;
  background-color: #efdfcc;
  box-shadow: 3px 3px 5px #161616;
}

ul li a:active {
  transform: scale(0.7);
}

/*
// ====================================================== 
// LAYOUT : RESPONSIVO
// ======================================================
*/

@media screen and (max-width: 756px) {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  .menu {
    display: none;
    align-items: flex-end;
    flex-direction: column;
  }

  .menu.ativo {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    background: linear-gradient(
      to right,
      rgb(40, 40, 40, 80%),
      rgb(36, 36, 36, 80%)
    );
  }

  .menu li {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
  }

  .menu li a {
    color: #f8eadc;
    padding: 15px 15px;
    border: none;
    border-radius: 0;
  }

  .menu li a:hover {
    transition: none;
    box-shadow: none;
  }

  .menu li a:active {
    transform: none;
  }

  .hamburguer {
    display: block;
  }

  ul {
    flex-wrap: wrap;
  }

  .responsive-hobbies {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center !important;
  }

  .titulo-home {
    font-size: 3.7em !important;
  }

  .light {
    font-size: 1.2em !important;
  }
}

@media screen and (max-width: 450px) {
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  .foto-hobbies {
    padding: 0 !important;
  }

  .titulo-home {
    font-size: 2.5em !important;
  }
}

/*
// ====================================================== 
// SECTION → HOME
// ======================================================
*/

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.col {
  flex-direction: column;
}

.titulo-home {
  width: 100%;
  border-bottom: 1px solid grey;
  font-size: 4em;
  text-align: center;
}

.light {
  font-size: 1.4em;
  font-weight: 200;
  text-indent: 0;
}

.bg-home a {
  color: inherit;
  text-align: center;
}

.bg-home a:hover {
  transform: scale(1.2);
}

.bg-home a:active {
  transform: scale(0.5);
}

.flecha {
  font-size: 3.5em !important;
  color: #242424;
}

/*
// ====================================================== 
// SECTION → SOBRE
// ======================================================
*/

.foto-sobre {
  margin: 50px;
  background: linear-gradient(
    -45deg,
    rgba(87, 87, 87, 0.5),
    rgba(51, 51, 51, 0.5)
  );
  border-radius: 0 50px 0 50px;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
// ====================================================== 
// SECTION → HOBBIES
// ======================================================
*/

.foto-hobbies {
  margin: 50px;
  padding: 50px;
  background: linear-gradient(
    to right,
    rgba(201, 187, 216, 0.3) -30%,
    rgba(219, 206, 142, 0.4) 130%
  );
  border-radius: 50px 0 50px 0;
}

/*
// ====================================================== 
// SECTION → LINKS & CONTATO
// ======================================================
*/

/* ======================== LINKS ======================= */

.links a {
  font-size: 2.5em;
  background-color: #242424;
  border-radius: 50%;
  padding: 8px 20px;
}

/*
// ====================================================== 
// SECTION → FOOTER
// ======================================================
*/

footer {
  height: 70px;
}

.bg-footer {
  background: #111111;
}

.rodape {
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  color: #fff;
  cursor: pointer;
  font-size: 0.9em;
}

/*
// ====================================================== 
// PÁGINA → PROJETOS
// ======================================================
*/

.foto-projeto {
  padding: 10px 15px;
  margin: 50px;
  overflow: hidden;
}

.projetos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ul-projetos {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.ul-projetos li {
  margin: 0;
}

.ul-projetos li a {
  border-bottom: 1px solid black;
  border-radius: 0;
  background-color: #242424;
  color: #fff;
}

.ul-projetos li a:hover {
  box-shadow: none;
  background-color: #dbdbdb;
}

.github a {
  color: #f8eadc;
  font-size: 4em;
  border-radius: 50px;
  padding: 0 16px;
}
